[user]
  name = chrisrzhou
  email = chrisrzhou@pm.me

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[alias]
  b = !git branch
  bda = !git branch | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | xargs git branch -D
  c = !git commit -m
  ca = !git commit --amend
  co = !git checkout
  cp = !git cherry-pick
  d = !git diff
  f = !git fetch
  l = log --graph --all --date=short --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %Cgreen %aN, %ad%Creset'
  m = !git merge
  n = !git checkout -b
  p = !git push origin $(git rev-parse --abbrev-ref HEAD)
  pf = !git push origin HEAD --force
  pl = !git pull
  r = !git reset --hard HEAD
  rb = !git rebase -i
  s = !git status
  st = !git stash
  sta = !git stash apply
