// npm install --save-dev eslint babel-eslint eslint-config-airbnb eslint-plugin-react eslint-plugin-import eslint-plugin-jsx-a11y

{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "quotes": [2, single, avoid-escape],
    "comma-dangle": 1,
    "no-var": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "vars-on-top": 0,
  },
  "plugins": [
    "react"
  ]
}
