"*":
  "atom-import-sort":
    sortOnSave: true
  "core":
    customFileTypes:
      "source.js": [
        "jsx"
      ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  "editor":
    fontFamily: "Hack"
    fontSize: 11
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "linter-ui-default":
    panelHeight: 209
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      bracketSpacing: true
      jsxBracketSameLine: true
      singleQuote: true
      trailingComma: "all"
      useTabs: false
    useEslint: true
  "tabs-to-spaces": {}
  "tree-view":
    alwaysOpenExisting: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
