# tmux-like pane controls
'atom-workspace':
  'cmd-b %': 'pane:split-right-and-move-active-item'
  'cmd-b "': 'pane:split-down-and-move-active-item'
  'cmd-b up': 'window:focus-pane-above'
  'cmd-b down': 'window:focus-pane-below'
  'cmd-b left': 'window:focus-pane-on-left'
  'cmd-b right': 'window:focus-pane-on-right'
  'cmd-b shift-up': 'window:move-active-item-to-pane-above'
  'cmd-b shift-down': 'window:move-active-item-to-pane-below'
  'cmd-b shift-left': 'window:move-active-item-to-pane-on-left'
  'cmd-b shift-right': 'window:move-active-item-to-pane-on-right'
