"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
  editor:
    fontFamily: "Hack"
    fontSize: 10
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "cf373c5f-dc23-41d7-8b48-475d554d9b90"
  "linter-ui-default":
    panelHeight: 211
    showPanel: true
  nuclide:
    "nuclide-flow":
      canUseFlowBin: true
    use:
      "atom-ide-diagnostics-ui": false
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      bracketSpacing: false
      jsxBracketSameLine: true
      singleQuote: true
      trailingComma: "all"
      useTabs: false
    useEslint: true
  "tabs-to-spaces": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
